* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(85, 0, 85);
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 20px;
    color: white;
    height: 7vh;
}

a {
    text-decoration: none;
    color: white;
}

.logo {
    margin-top: 5px !important;
}

.container {
    width: 100%;
    padding-top: 10px;
    background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container .heading {
    padding: 0 20px;
    font-weight: normal;
    height: 4vh;
}

.word-container {
    height: 90vh;
    overflow-y: scroll;
}

.closeBar {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
}

.addBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    color: white;
    background: rgb(85, 0, 85);
    border-radius: 50%;
    font-weight: bold;
    box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.7);
}

.searchInput {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    outline: none;
    margin-top: 10px;
}